*{
    /*<variable>: <color>; <Main purpose> */
    -fx-color1: #303841; /* Background */
    -fx-color2: #EEEEEE; /* Text */
    -fx-color3: #FF0000; /* Buttons */
    -fx-color4: #3A4750; /* Color Gradient effect */
}

.root {
    -fx-background-color: -fx-color1;
    -fx-border-color: -fx-color4;
    -fx-border-radius: 10;
}

.scroll-pane, GridPane, HBox, FlowPane, VBox {
    -fx-background-color: #3A4750;
}


.button {
    -fx-background-color: #FF0000;
    -fx-text-fill: -fx-color2;
    -fx-background-radius: 14;
}

.menu-button, .menu-item {
    -fx-background-color: #FF0000;
    -fx-text-fill: -fx-color2;
}
.menu-button{
    -fx-background-radius: 14;
}

.menu-item{
    -fx-background-color: #3A4750;
}

.menu-item:hover {
    -fx-background-color: #303841;
}

.label {
    -fx-text-fill: -fx-color2;
}

.context-menu {
    -fx-background-color: #3A4750;
}

#mainViewTopbar, #mainViewTopButtons, #boxAdvancedSearch {
    -fx-background-color: #303841;
}

#warningViewLabel26, #warningViewLabel2, #warningViewLabel6 {
    -fx-background-color: #222222;
}

#homeView, #homeLabelAdded, #homeLabelAll, #homeLabelPopular{
    -fx-background-color: #222222;
}

#movieCard, VBox {
    -fx-background-color: transparent;
}

#categoryViewAnchor{
    -fx-background-color: #3A4750;
}

#grid{
    -fx-background-color: #3A4750;
}

#warningViewHBox{
    -fx-background-color: #D72323;
}

#listCategories{
    -fx-background-color: #3A4750;
}

.scroll-bar:horizontal, .scroll-bar:vertical, .scroll-bar:vertical .track, .scroll-bar:horizontal .track {
    -fx-background-color: #303841;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: #FF0000;
}

.dialog-pane, .dialog-pane .header-panel {
    -fx-background-color: #303841;
    -fx-border-color: #3A4750;
}

.list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-text-fill: #EEEEEE;
    -fx-border-color: #D72323;
}

.list-cell:odd {
    -fx-background-color: #303841;
}
.list-cell:even {
    -fx-background-color: #3A4750;
}

.list-cell:hover, .list-cell:selected {
    -fx-font-weight: bold;
}